
.abzac{
   line-height: 1.6;
   margin-bottom: 1em;
   font-size: 18px;
   text-align: justify;
   text-indent: 30px;

}
.toggleButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 14px;
  width: 30%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.toggleButton:hover {
  background-color: red;
}
