p{
    text-indent: 30px;

}
.abzac{
   line-height: 1.6;
   margin-bottom: 1em;
   font-size: 18px;
   text-align: justify;

}
.link {
   color: #00e0ff; /* Бирюзовый */
   text-decoration: none;
   font-weight: 600;
   border-bottom: 2px dotted #00e0ff;
   padding: 0 2px;
   transition: all 0.3s ease;
 }
 
 .link:hover {
   color: #ffffff; /* Яркий циан */
   border-bottom-style: solid;
   background-color: rgba(0, 224, 255, 0.1);
   border-radius: 3px;
 }
