.conteiner {
    margin: 0 auto;
    padding: 20px;
    font-size: clamp(50px, 1.4vw, 2em);
 }
 .abzac {
    border-radius: 15px;
    box-shadow: 0 8px 10px 2px #777;
    transform: scale(1);
    transition: all 0.5s;
    max-width: 300px;
    font-size: 16px;
    text-align: center;
    padding: 15px;
 }
 .abzac:hover {
    box-shadow: 0 10px 20px 2px #777;
    transform: scale(1.05);
    transition: all 0.5s;
 }
 header{
    display: flex;
 }
 .header_abzac {
    margin: 0 auto 3rem ;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 8px 10px 2px #777;
    transform: scale(1);
    transition: all 0.5s;
    max-width: 70%;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    
 }
 .header_abzac:hover {
    box-shadow: 0 10px 20px 2px #777;
    transform: scale(1.05);
    transition: all 0.5s;
 }

span{
   line-height: 1.5;
}
 












 .headerText {
font-size: 18px;
text-align: center;
margin: 30px;
 }
 .card_model{
    font-size: 20px;
 }
 .card_description{
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 4; 
     overflow: hidden;
     text-overflow: ellipsis;
     line-height: 1.5em; 
     max-height: 6em;
     padding: 0 15px;
     text-align: left;
     margin-bottom: 10px;
    
  }
  .imageDevice{
    max-height: 200px;
  }
 .blockPriceAndMore{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
 }
 .price{
    font-size: 20px;
    font-weight: bold;
 }
 .btnMore{
    background-color:rgb(190, 197, 194);
    transition: box-shadow 0.5s ease;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right:0;
    bottom:0;
    background-color:rgb(221, 183, 13)
 }
 .btnMore:hover{
    background-color:green
 }
 
 
 /* admin func*/
 .deleteDevice{
    background-color:red;
    position: absolute;
    left: 0;
    bottom:0;
    border-radius:5px;
    padding: 5px;
 }
 .editDevice{
    background-color:rgb(82, 130, 78);
    position: absolute;
    right: 0;
    top:0;
    border-radius:5px;
    padding: 5px;
 }
 .editDevice:hover{
    background-color:rgb(228, 228, 8);
 }