.conteiner {
    margin: 0 auto;
    padding: 20px;
    font-size: clamp(50px, 1.4vw, 2em);
 }
 .abzac {
    border-radius: 15px;
    box-shadow: 0 8px 10px 2px #777;
    transform: scale(1);
    transition: all 0.5s;
    max-width: 300px;
    font-size: 16px;
    text-align: center;
    padding: 15px;
 }
 .abzac:hover {
    box-shadow: 0 10px 20px 2px #777;
    transform: scale(1.05);
    transition: all 0.5s;
 }
 header{
    display: flex;
 }
 .header_abzac {
    margin: 0 auto ;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 8px 10px 2px #777;
    transform: scale(1);
    transition: all 0.5s;
    max-width: 70%;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    
 }
 .header_abzac:hover {
    box-shadow: 0 10px 20px 2px #777;
    transform: scale(1.05);
    transition: all 0.5s;
 }

span{
   line-height: 1.5;
}
 
