
.modalWindow{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    display: none;  
 }
 
 .modalWindow.active {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
    display: flex;
 }
 .modal-content {
   background: #ffffff;
   padding: 30px;
   border-radius: 15px;
   max-width: 500px;
   width: 90%;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
   cursor: default;
   position: relative;
 }
 .text-container {
   padding: 20px;
   border: 2px solid #4a5568;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0.8);
   position: relative;
   overflow: hidden;
 }
 .text-container::before,
.text-container::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: red;
}

.text-container::before {
  top: 0;
  left: 0;
  border-width: 3px 0 0 3px;
  border-radius: 5px 0 0 0;
}

.text-container::after {
  bottom: 0;
  right: 0;
  border-width: 0 3px 3px 0;
  border-radius: 0 0 5px 0;
}

/* Стили текста */
.abzac {
  margin: 0;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  white-space: pre-line;
}

